<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main2">
        <div class="left">
            <div class="me">
                <img src="<%= user.profileImage %>" alt="">
                <h2><%= user.username %></h2>
            </div>
            <div class="other">
                <h1>Chats</h1>
                <div class="users">
                    <div class="user">
                        <img src="http://cdn.onlinewebfonts.com/svg/img_258083.png" alt="">
                        <h2>username</h2>
                    </div>
                    <div class="user">
                        <img src="http://cdn.onlinewebfonts.com/svg/img_258083.png" alt="">
                        <h2>username</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="feature">
                <div class="nav">
                    <div class="search">
                        <input type="search" placeholder="Search User">
                    </div>
                    <div class="icons">
                        <div class="icon">
                            <h5>Chats</h5>
                            <i class="ri-chat-3-line"></i>
                        </div>
                        <div class="icon">
                            <h5>Status</h5>
                            <i class="ri-heart-add-line"></i>
                        </div>
                        <div class="icon">
                            <h5>call</h5>
                            <i class="ri-phone-line"></i>
                        </div>
                        <div class="icon">
                            <h5>Profile</h5>
                            <a style="text-decoration: none; color: #000;" href="/editProfile"><i class="ri-user-line"></i></a>
                        </div>
                        <div class="icon">
                            <h5>More</h5>
                            <i class="ri-more-2-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>
</html>