<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
      <!-- <img src="https://nextrift.com/wp-content/uploads/2022/10/whatsapp-logo-1.jpg" alt=""> -->
      <h1 style="font-size: 35px; font-weight: 500;">Hey Buddy, Welcome To Whatsapp <i class="ri-whatsapp-line"></i></h1>
      <form action="/register" method="post">
        <input type="text" placeholder="Enter Username" name="username">
        <input type="email"placeholder="Enter Your Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Submit">
        <span>Already have an Account ?<a href="/login"> log in</a></span>
      </form>
    </div>
</body>
</html>